*{
  color: aliceblue;
}

.menu{
  border-radius: 0;
  /* padding-left: 25px ;
  padding-right: 25px ; */
  padding: 20px 25px;
  margin: 0 5px;
}
.nav-bar{
  background-color: #532626;
  padding-bottom: 5px;
}
.nav-bar > *{
  background-color: #532626;
}
button.menu:first-of-type{
  margin-left: 50px;
}
img{
  max-width: 150px;
  margin-top: 15px;
}
a{
  text-decoration: none;
  color: black;
}
.btn-link{
  color: aliceblue;

}

