<div class="nav-bar">
  <button mat-raised-button class="menu" color="primary">Inicio</button>
  <button mat-raised-button class="menu" color="primary" [matMenuTriggerFor]="belowMenu">Filmes</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Adicionar</button>
    <button mat-menu-item>Ver catálogo</button>
  </mat-menu>
  <button mat-raised-button class="menu" color="primary">Sobre</button>
</div>
<div class="form-filme">
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data de lançamento</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duração</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Diretor</mat-label>
    <div *ngIf="diretorNome != 2">
      <mat-select required (valueChange)="teste()" [(ngModel)] = 'diretorNome'>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let diretor of diretores" [value]="diretor.id" >
          {{diretor.nome}}
        </mat-option>
      </mat-select>
    </div>
    <div *ngIf="diretorNome == 2">
      <input matInput>
    </div>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Roteirista</mat-label>
    <input matInput>
  </mat-form-field>
</div>
