<!-- <div class="container">
  <div *ngFor ="let reg of filmes" class="container-filme">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="title">{{reg.titulo}}</mat-card-title>
          <mat-card-subtitle class="subtitle">Duração: {{reg.duracao}}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle">Gênero: {{reg.genero}}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle">Diretor: {{reg.diretor}}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle">Roteiro: {{reg.roteiro}}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle">Produtora: {{reg.produtora}}</mat-card-subtitle>
          <mat-card-subtitle class="subtitle">Classificação Indicativa: {{reg.classificacao_indicativa}}</mat-card-subtitle>
          <img mat-card-xl-image src="{{reg.poster_url}}" class="img-poster">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="sinopse">
        <p><b>Sinopse</b></p>{{reg.sinopse}}
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
<div *ngFor="let categoria of categorias">
  <p>{{categoria.CATEGORIA_NOME}}</p>
</div>
