*{
  color: aliceblue;
}

.menu{
  border-radius: 0;
  /* padding-left: 25px ;
  padding-right: 25px ; */
  padding: 20px 25px;
  margin: 0 5px;
}
.nav-bar{
  background-color: #532626;
  padding-bottom: 5px;
}
.nav-bar > *{
  background-color: #532626;
}
button.menu:first-of-type{
  margin-left: 50px;
}
img{
  max-width: 150px;
  margin-top: 15px;
}

.container-filme{
  margin-top: 30px;
  margin-left: 40px;
}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  background-color: #532626;
}
mat-card-content.sinopse{
  margin-bottom: 20px;
}
.title{
  margin-top: 60px;
  margin-left: 15px;
  font-size: 20px;
}
.subtitle{
  font-size: 16px;
  margin-left: 15px;
}


